# Root url for slack API, used for link back from the slash command
HTTP_BASE_URL="https://slack.example.com"

# Steam API token
STEAM_API_TOKEN = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'

# Slack app client ID and secret
SLACK_APP_ID = "000000000000.000000000000"
SLACK_APP_SECRET = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# Slack app signing secret
SLACK_SIGNING_SECRET = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

